  #                      Credit case study eda

### Import the required Libraries.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## import warning

In [2]:
import warnings
warnings.filterwarnings('ignore')

### Data Cleaning



#### Data Reading & Data Types

In [3]:
#Read the data in pandas
inp0= pd.read_csv("application_data.csv")
inp1= pd.read_csv("previous_application.csv")
pd.set_option('display.max_rows',None)

FileNotFoundError: [Errno 2] No such file or directory: 'application_data.csv'

In [ ]:
inp0.head()

In [ ]:
inp0.shape

In [ ]:
# Print the information about the attributes of inp0
inp0.info(verbose=True,null_counts=True)

In [ ]:
inp0.describe()

In [ ]:
inp1.head()

In [ ]:
inp1.shape

In [ ]:
# Print the information about the attributes of inp1
inp1.info(verbose=True,null_counts=True)

In [ ]:
inp2

#####  Data Cleaning

In [ ]:
#find the percentage of missing values
(inp0.isnull().sum()/len(inp0)*100).sort_values(ascending=False)

In [ ]:
#check the null values more than 40%
(inp0.isnull().sum()/len(inp0)*100)[(inp0.isnull().sum()/len(inp0)*100)>40].sort_values(ascending=False)

In [ ]:
inp0.shape

In [ ]:
#Removing the columns having null values more than 40%
remove_col = inp0.isnull().sum()/len(inp0)*100
remove_col = list(remove_col[remove_col.values>=40].index)
inp0.drop(labels=remove_col,axis=1,inplace=True)
print(len(remove_col))

In [ ]:
inp0.shape

In [ ]:
# checking the columns having null values less than 19%
col_under=(inp0.isnull().sum()/len(inp0)*100)
col_under = col_under[col_under.values<19]
col_under.sort_values(ascending=False)

##### analysis of AMT_ANNUITY column

In [ ]:
list(inp0.columns[(inp0.isnull().mean()<=13)& (inp0.isnull().mean()>0)])

In [ ]:
inp0.AMT_ANNUITY.value_counts()

In [ ]:
# describing the AMT_ANNUITY columns
inp0.AMT_ANNUITY.describe()

In [ ]:
inp0.AMT_ANNUITY.median()

In [ ]:
# imputing the missing values with median values and then verify the missing values
inp0['AMT_ANNUITY'] = inp0['AMT_ANNUITY'].fillna(inp0.AMT_ANNUITY.median())
inp0.AMT_ANNUITY.isnull().sum()

#### analyse the AMT_GOODS_PRICE

In [ ]:
# describing the AMT_GOODS_PRICE column
inp0.AMT_GOODS_PRICE.describe()

In [ ]:
inp0.AMT_GOODS_PRICE.median()

In [ ]:
# imputing the missing values with median values and then verify the missing values
inp0['AMT_GOODS_PRICE'] = inp0['AMT_GOODS_PRICE'].fillna(inp0.AMT_GOODS_PRICE.median())
inp0.AMT_GOODS_PRICE.isnull().sum()

In [ ]:
#  Analysing CNT_FAM-MEMBERS column
inp0.CNT_FAM_MEMBERS.describe()

In [ ]:
inp0['CNT_FAM_MEMBERS'] = inp0['CNT_FAM_MEMBERS'].fillna(inp0['CNT_FAM_MEMBERS'].median())
inp0.CNT_FAM_MEMBERS.isnull().sum()

In [ ]:
# Analysing OBS_30_CNT_SOCIAL_CIRCLE column
inp0.OBS_30_CNT_SOCIAL_CIRCLE.describe()

In [ ]:
inp0['OBS_30_CNT_SOCIAL_CIRCLE'] = inp0['OBS_30_CNT_SOCIAL_CIRCLE'].fillna(inp0['OBS_30_CNT_SOCIAL_CIRCLE'].median())
inp0.CNT_FAM_MEMBERS.isnull().sum()

In [ ]:
# Analysing DEF_30_CNT_SOCIAL_CIRCLE column
inp0.DEF_30_CNT_SOCIAL_CIRCLE.describe()

In [ ]:
inp0['DEF_30_CNT_SOCIAL_CIRCLE'] = inp0['DEF_30_CNT_SOCIAL_CIRCLE'].fillna(inp0['DEF_30_CNT_SOCIAL_CIRCLE'].median())
inp0.CNT_FAM_MEMBERS.isnull().sum()

In [ ]:
inp0.columns[(inp0.isnull().mean()<=13)& (inp0.isnull().mean()>0)]

In [ ]:
# Value Count of Code_GENDER
inp0['CODE_GENDER'].value_counts()

In [ ]:
# dropping the XNA from code_gender
inp0 = inp0.drop(inp0.loc[inp0['CODE_GENDER']=='XNA'].index)
inp0['CODE_GENDER'].value_counts()

In [ ]:
#imputing the field names to male for m nad female for f
inp0['CODE_GENDER']=inp0['CODE_GENDER'].replace(['M'],'Male')
inp0['CODE_GENDER']=inp0['CODE_GENDER'].replace(['F'],'Female')
inp0.CODE_GENDER.value_counts()

In [ ]:
inp0.CODE_GENDER.value_counts().plot.barh()
plt.show()

In [ ]:
# dropping the flag_document column as no detail about the document
flag_col = inp0.filter(axis=1, like='FLAG_DOC').columns.to_list() # storing all flag item in one list
flag_col

In [ ]:
inp0.drop(columns = flag_col, inplace=True)

In [ ]:
inp0.info(verbose=True,null_counts=True)

In [ ]:
inp0.head()

In [ ]:
# Analyse Organisation Type
inp0['ORGANIZATION_TYPE'].value_counts()

In [ ]:
# Replace XNA with NA(no value available)
inp0['ORGANIZATION_TYPE']=inp0['ORGANIZATION_TYPE'].replace(['XNA'],'NA')
inp0['ORGANIZATION_TYPE'].value_counts()

In [ ]:
inp1.info()

In [ ]:
#checking the NAME_CASH_LOAN_PURPOSE column
inp1.NAME_CASH_LOAN_PURPOSE.value_counts()

In [ ]:
#Replacing the XAP & XNA to NA
inp1['NAME_CASH_LOAN_PURPOSE']=inp1['NAME_CASH_LOAN_PURPOSE'].replace(['XAP'],'NA')
inp1['NAME_CASH_LOAN_PURPOSE']=inp1['NAME_CASH_LOAN_PURPOSE'].replace(['XNA'],'NA')
inp1.NAME_CASH_LOAN_PURPOSE.value_counts()

In [ ]:
# analysing the Target variable
inp0.TARGET.value_counts(normalize=True)*100

In [ ]:
# renaming 0 - defaulter and 1- non defaulter
inp0['TARGET']=inp0['TARGET'].replace([1],'defaulter')
inp0['TARGET']=inp0['TARGET'].replace([0],'non defaulter')
inp0.TARGET.value_counts()

In [ ]:
#plot the graph og data imbalance
plt.pie(inp0.TARGET.value_counts(normalize=True)*100, labels=inp0.TARGET.value_counts().index, autopct='%1.f%%' )
plt.title("Data Imbalance On Target",fontsize=14,ha='center',va='center')
plt.legend()
plt.tight_layout()
plt.show()

In [ ]:

inp0.info(verbose=True,null_counts=True)

In [ ]:
# change the column into int
dtype_0=['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE','REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'CNT_FAM_MEMBERS','EXT_SOURCE_2', 'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE','DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE','DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE','AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY','AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON','AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR',]
inp0[dtype_0]=inp0[dtype_0].apply(pd.to_numeric)
inp0.info(verbose=True,null_counts=True)

In [ ]:
# create bin for AMT_INCOME_BIN
bins=[0,25000,50000,75000,100000,125000,150000,175000,200000,225000,250000,275000,300000,325000,350000,375000,400000,425000,450000,475000,500000,10000000000]
labels=['0-25000', '25000-50000','50000-75000','75000-100000','100000-125000', '125000-150000', '150000-175000','175000-200000','200000-225000','225000-250000','250000-275000','275000-300000','300000-325000','325000-350000','350000-375000','375000-400000','400000-425000','425000-450000','450000-475000','475000-500000','500000 and above']
inp0['AMT_INCOME_BIN']= pd.cut(inp0['AMT_INCOME_TOTAL'],bins=bins,labels= labels)

In [ ]:
# Checking the newly created bin column
inp0.AMT_INCOME_BIN.value_counts()

In [ ]:
#Calculating the Age of the client from DAYS_BIRTH column
inp0['Age_of_Cnt'] = (inp0.DAYS_BIRTH // 365).abs()
inp0.head()

In [ ]:
# create bin for Age column
bins= [0,30,40,50,60,100]
labels=['<30', '30-40','40-50','50-60','60+']
inp0['Age_Range']= pd.cut(inp0['Age_of_Cnt'],bins=bins,labels= labels)
inp0.head()

#### Checking outliers

In [ ]:
#plotting the values of AMT_ANNUITY columns
plt.figure(figsize=(6,5))
plt.title("AMT_ANNUITY Count")
sns.boxplot(data= inp0,x='AMT_ANNUITY',y='TARGET')
plt.show()

In [ ]:
#plotting the values of children columns
plt.figure(figsize=(6,5))
plt.title("Children Count")
sns.boxplot(data= inp0,x='CNT_CHILDREN',y='TARGET')
plt.show()

1) median of the children count is almost 0, which means many applicants don't have kids

2) Applicants with more than 7 kids can be treated as outliers

In [ ]:
#plotting the values of AMT_CREDIT columns
plt.figure(figsize=(6,5))
plt.title("AMT_CREDIT Count")
sns.boxplot(data= inp0,x='AMT_CREDIT',y='TARGET')
plt.show()

In [ ]:
#plotting the values of AMT_GOODS_PRICE columns
plt.figure(figsize=(6,5))
plt.title("AMT_GOODS_PRICE Count")
sns.boxplot(data= inp0,x='AMT_GOODS_PRICE',y='TARGET')
plt.xlabel("Target Variables")
plt.ylabel("AMT_GOODS_PRICE Count")
plt.show()

In [ ]:
#plotting the values of Age_of_Cnt columns
plt.figure(figsize=(6,5))
plt.title("Age_of_Cnt Count")
sns.boxplot(data= inp0,x='Age_of_Cnt',y='TARGET')

plt.show()

In [ ]:
#plotting the values of DAYS_EMPLOYED columns
plt.figure(figsize=(6,5))
plt.title("DAYS_EMPLOYED Count")
sns.boxplot(data= inp0,x='DAYS_EMPLOYED',y='TARGET')
plt.show()

It is showing outlier as 350000/ 365 we will get approx 998 years which is not practically possible

In [ ]:
inp0 = inp0[inp0.DAYS_EMPLOYED<np.nanpercentile(inp0['DAYS_EMPLOYED'],99)]
inp0.DAYS_EMPLOYED.abs().describe()

#### univariate analysis for categories

In [ ]:
#plotting the countplot for checking the distribution of incomes according to age
sns.countplot(data= inp0,x='AMT_INCOME_BIN',hue='CODE_GENDER')
plt.title("Income Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Females have more incomes than the males

2) The Difference in incomes decrease as the salary increases

3) Females Applicants are more than Males

In [ ]:
#plotting the countplot for checking the distribution of income
sns.countplot(data= inp0,x='AMT_INCOME_BIN',hue='TARGET')
plt.title("Income Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Income range between 50000 and 225000 has majority of applicant


2) As the salary is more than 250000, the number of the applicants also decreases

In [ ]:
#plotting the countplot for checking the distribution of income
sns.countplot(data= inp0,x='NAME_INCOME_TYPE',hue='TARGET')
plt.title("working type Distribution of Applicants Belonging to target")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Working class applies for the most number of loans applicants and the number of defaulter is also max.

2) Unemployed,Students, Businessman and Maternity leaves has minimum number of applicants

In [ ]:
#plotting the countplot for checking the distribution of income
sns.countplot(data= inp0,x='NAME_INCOME_TYPE',hue='CODE_GENDER')
plt.title("Distribution of Applicants Belonging to different genders")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Working class applies for the most number of loans applicants and the number of defaulter is also max.

2) Unemployed,Students, Businessman and Maternity leaves has minimum number of applicants

3) In every sector females are more than males

In [ ]:
#plotting the countplot for checking the distribution of income
sns.countplot(data= inp0,x='NAME_CONTRACT_TYPE',hue='TARGET')
plt.title("Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Cash Loan contracts have higher number of credit than revolving loans.

2) Number of Defaulters is least in Revolving loans

In [ ]:
#plotting the countplot for checking the distribution of income
sns.countplot(data= inp0,x='NAME_CONTRACT_TYPE',hue='CODE_GENDER')
plt.title("Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Cash Loan contracts have higher number of credit than revolving loans.

2) Number of Females are the more than men in both the types of loans.

In [ ]:
#plotting the countplot for checking the distribution of education
sns.countplot(data= inp0,x='NAME_EDUCATION_TYPE',hue='CODE_GENDER')
plt.title("Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1)  Number of females applicants are more than males

2) females from secondary education are max in the applicants

In [ ]:
#plotting the countplot for checking the distribution of education
sns.countplot(data= inp0,x='NAME_EDUCATION_TYPE',hue='TARGET')
plt.title("Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1)  Applicants from the secondary education are max 

2) degree holder Applicants are least.

In [ ]:
#plotting the countplot for checking the distribution of education
sns.countplot(data= inp0,x='NAME_TYPE_SUITE',hue='TARGET')
plt.title("Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Applicant are max from Unaccompanied

In [ ]:
#plotting the countplot for checking the distribution of education
sns.countplot(data= inp0,x='NAME_FAMILY_STATUS',hue='TARGET')
plt.title("Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

1) Married people are most frequent to apply for the loans

In [ ]:
#plotting the countplot for checking the distribution of housing types
sns.countplot(data= inp0,x='NAME_HOUSING_TYPE',hue='TARGET')
plt.title("Distribution of Applicants")
plt.xticks(rotation=90,fontsize=10)
plt.show()

Most of the applicants have their own house

### univarite analysis in previous application

In [ ]:
inp1.info()

In [ ]:
# Plotting a countplot to check distribution among contract states
plt.figure(figsize=(20,6))
sns.countplot(data = inp1, y= 'NAME_CASH_LOAN_PURPOSE',order=inp1['NAME_CASH_LOAN_PURPOSE'].value_counts().index)
plt.title("Distribution of contract status with purposes")
plt.xticks(rotation=45,fontsize=18)
plt.xscale('log')
plt.show()

Mostly the loans applicants have applied for daily uses things.


Only few applicants are there, who applied for purchasing the cars,homes or for businesss developments.

In [ ]:
# Plotting a countplot to check distribution among contract states
plt.figure(figsize=(20,6))
sns.countplot(data = inp1, y= 'NAME_GOODS_CATEGORY',order=inp1['NAME_GOODS_CATEGORY'].value_counts().index)
plt.title("Distribution of contract status with NAME_GOODS_CATEGORY")
plt.xticks(rotation=45,fontsize=18)
plt.xscale('log')
plt.show()

Mostly have applied for purchasing the electronics items.


Almost few of them applied for purchasing housing related items

In [ ]:
# Plotting a countplot to check distribution among client type
plt.figure(figsize=(20,6))
sns.countplot(data = inp1, x= 'NAME_CLIENT_TYPE',hue='NAME_CONTRACT_STATUS', order= inp1['NAME_CLIENT_TYPE'].value_counts().index)
plt.title("Distribution of contract status with NAME_CLIENT_TYPE")
plt.xticks(rotation=45,fontsize=18)
plt.show()

1) Lenders has apporved the loans of repeater applicants mostly

2) Lenders has rejected only application of new client

In [ ]:
# Plotting a countplot to check distribution among client type
plt.figure(figsize=(20,6))
sns.countplot(data = inp1, x= 'NAME_YIELD_GROUP',hue='NAME_CONTRACT_STATUS', order= inp1['NAME_YIELD_GROUP'].value_counts().index)
plt.title("Distribution of contract status with NAME_YIELD_GROUP")
plt.xticks(rotation=45,fontsize=18)
plt.show()


#### BIVARIATE ANALYSIS

In [ ]:
Defaulter = inp0[inp0.TARGET=='defaulter']
Non_Defaulter = inp0[inp0.TARGET=='non defaulter']

In [ ]:
plt.figure(figsize=(15,6))

plt.subplot(1,2,1)
plt.title("Income v/s family members among non-defaulters", fontsize=12)
sns.scatterplot(Non_Defaulter.AMT_INCOME_TOTAL,Non_Defaulter.CNT_FAM_MEMBERS)

plt.subplot(1,2,2)
plt.title("Income v/s family members among defaulters", fontsize=12)
sns.scatterplot(Defaulter.AMT_INCOME_TOTAL,Defaulter.CNT_FAM_MEMBERS)
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
plt.subplot(1,2,1)
plt.title("Income v/s children among non-defaulters", fontsize=20)
sns.scatterplot(Non_Defaulter.AMT_INCOME_TOTAL,Non_Defaulter.CNT_CHILDREN )

plt.subplot(1,2,2)
plt.title("Income v/s children among defaulters", fontsize=20)
sns.scatterplot(Defaulter.AMT_INCOME_TOTAL,Defaulter.CNT_CHILDREN )
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
plt.subplot(1,2,1)
plt.title("AMT_ANNUITY v/s AMT_GOODS_PRICE among non-defaulters", fontsize=12)
sns.scatterplot(Non_Defaulter.AMT_ANNUITY,Non_Defaulter.AMT_GOODS_PRICE )

plt.subplot(1,2,2)
plt.title("AMT_ANNUITY v/s AMT_GOODS_PRICE among defaulters", fontsize=12)
sns.scatterplot(Defaulter.AMT_ANNUITY,Defaulter.AMT_GOODS_PRICE )
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
plt.subplot(1,2,1)
plt.title("AMT_ANNUITY v/s AMT_CREDIT among non-defaulters", fontsize=12)
sns.scatterplot(Non_Defaulter.AMT_ANNUITY,Non_Defaulter.AMT_CREDIT )

plt.subplot(1,2,2)
plt.title("AMT_ANNUITY v/s AMT_CREDIT among defaulters", fontsize=12)
sns.scatterplot(Defaulter.AMT_ANNUITY,Defaulter.AMT_CREDIT )
plt.show()

In [ ]:
plt.figure(figsize=(15,6))
plt.subplot(1,2,1)
plt.title("AMT_GOODS_PRICE v/s AMT_CREDIT among non-defaulters", fontsize=12)
sns.scatterplot(Non_Defaulter.AMT_GOODS_PRICE,Non_Defaulter.AMT_CREDIT )

plt.subplot(1,2,2)
plt.title("AMT_GOODS_PRICE v/s AMT_CREDIT among defaulters", fontsize=12)
sns.scatterplot(Defaulter.AMT_GOODS_PRICE,Defaulter.AMT_CREDIT )
plt.show()

#### Merging the two csv files

In [ ]:
inp2 = pd.merge(inp0,inp1, how='left', on=['SK_ID_CURR'])
inp2.head()

In [ ]:
#Box plotting for Loan purpose and Credit amount in logarithmic scale

plt.figure(figsize=(16,12))
plt.xticks(rotation=90)
plt.yscale('log')
sns.boxplot(data =inp3, x='NAME_CASH_LOAN_PURPOSE',y='AMT_CREDIT_x',hue='CODE_GENDER')
plt.title('Prev Credit amount vs Loan Purpose', fontsize=12)
plt.show()

In [ ]:
# Distribution of contract status in logarithmic scale
plt.figure(figsize=(16,12))
plt.xticks(rotation=90)
plt.yscale('log')
sns.boxplot(data =inp3, x='NAME_CASH_LOAN_PURPOSE',y='AMT_CREDIT_x',hue='CODE_GENDER')
plt.title('Prev Credit amount vs Loan Purpose', fontsize=12)
plt.show()

In [ ]:
# Distribution of contract status in logarithmic scale
plt.figure(figsize=(16,12))
plt.xticks(rotation=90)
plt.xscale('log')
sns.countplot(data = inp3, y= 'NAME_CASH_LOAN_PURPOSE',order=inp3['NAME_CASH_LOAN_PURPOSE'].value_counts().index,hue= 'NAME_CONTRACT_STATUS') 
plt.title('NAME_CASH_LOAN_PURPOSE vs NAME_CONTRACT_STATUS', fontsize=12)
plt.show()

In [ ]:
# Distribution of purpose
plt.figure(figsize=(16,12))
plt.xticks(rotation=90)
plt.xscale('log')
sns.countplot(data = inp3, y= 'NAME_CASH_LOAN_PURPOSE',order=inp3['NAME_CASH_LOAN_PURPOSE'].value_counts().index,hue= 'TARGET') 
plt.title('NAME_CASH_LOAN_PURPOSE vs TARGET', fontsize=12)
plt.show()

In [ ]:
# Distribution of Education and credit type
plt.figure(figsize=(16,12))
plt.xticks(rotation=90)
plt.xscale('log')
sns.barplot(data = inp3, y= 'AMT_CREDIT_x',x='NAME_EDUCATION_TYPE',hue= 'TARGET') 
plt.title('Education vs credit type', fontsize=12)
plt.show()